

<form class="form" action="/animals/<%= @animal.id %>" method="post">

  <h3>Edit Details</h3>
  <hr>
  <label for="name">Name:</label>
  <input type="text" name="name" id="name" value="<%= @animal.name %>"/>

  <label for="age">Age:</label>
  <input type="text" name="age" id="age" value="<%= @animal.age %>"/>

  <label for="animal_type_id">Species:</label>
  <select name="animal_type_id" id="animal_type_id" selected="<%= @animal.species %>"
    <% for animal_type in @animal_types %>
    <option value="<%= animal_type.id %>"><%= animal_type.species %></option>
    <% end %>
  </select>

  <label for="admission_date">Date:</label>
  <input type="date" name="admission_date" id="admission_date" value="<%= @animal.admission_date %>"/>

  <label for="is_adoptable">Ready for adoption?:</label>
  <select name="is_adoptable" id="is_adoptable" selected=
  <% if @animal.is_adoptable == "t" %>
  "Yes"
  <% elsif @animal.is_adoptable == "f" %>
  "No"
  <% end %>
  >
    <option value=true>Yes</option>
    <option value=false>No</option>
  </select>
<hr>
  <input type="submit" value="Update Animal"/>

</form>
