<h1>All Animals</h1>

<div class="index-nav"">
  <button type="button" name="button"><a href="animals/new">New Animal</a></button>
</div>

<table>
    <tr>
      <th>Name</th>
      <th>Age</th>
      <th>Species</th>
      <th>Admission date</th>
      <th>Ready for adoption?</th>
    </tr>
    <% for animal in @animals %>
    <tr>
      <td><a href="/animals/<%= animal.id %>"><%= animal.name %></a></td>
      <td><%= animal.age %></td>
      <td><%= animal.species %></td>
      <td><%= animal.admission_date %></td>
      <td>
        <span class="<%= animal.is_adoptable.to_s %>"></span>
      </td>
    </tr>
    <% end %>
</table>
