<h1>ANIMALS</h1>
<hr>
<div class="index-nav">
  <button class="index-nav-button" type="button" name="button">
    <a href="/animals/new" class="index-nav-link">NEW</a>
  </button>
  <button class="index-nav-button" type="button" name="button">
    <a href="/animals" class="index-nav-link">SHOW ALL</a>
  </button>
  <button class="index-nav-button" type="button" name="button">
    <a href="/animals/ready" class="index-nav-link">SHOW READY</a>
  </button>
  <button class="index-nav-button" type="button" name="button">
    <a href="/animals/not-ready" class="index-nav-link">SHOW NOT READY</a>
  </button>
  <button class="index-nav-button" type="button" name="button">
    <a href="/animals/search" class="index-nav-link">SEARCH</a>
  </button>
  <button class="index-nav-button" type="button" name="button">
    <a href="/animal-types/new" class="index-nav-link">ADD SPECIES</a>
  </button>
</div>

<p></p>

<table>
    <tr>
      <th>Status</th>
      <th>Name</th>
      <th>Age</th>
      <th>Species</th>
      <th>Admitted</th>
      <th>Owner</th>
    </tr>
    <% for animal in @animals %>
    <tr>
      <td>
        <span class="<%= animal.is_adoptable.to_s %>"></span>
      </td>
      <td><a href="/animals/<%= animal.id %>"><%= animal.name %></a></td>
      <td><%= animal.age %></td>
      <td><%= animal.species %></td>
      <td><%= animal.admission_date %></td>
      <td>
          <% if animal.owner.first.nil? == false %>
          <%= animal.owner.first.pretty_name %>
          <% else %>
          <%= ""%>
          <% end %>
      </td>
    </tr>
    <% end %>
</table>
