<h1><%= @animal.name %></h1>
<p>Age: <%= @animal.age %></p>
<p>Species: <%= @animal.species %></p>
<p>Admitted: <%= @animal.admission_date %></p>
<p>Ready for adoption?: <%= @animal.is_adoptable %></p>
<p>Owner: <%= @animal.owner.first.pretty_name %></p>
<a href="/animals/<%= @animal.id %>/assign">Assign an Owner</a>
