<h3><%= @animal.name %></h3>
<p>
  Age: <%= @animal.age %>
</p>
<p>
  Species: <%= @animal.species %>
</p>
<p>
  Admitted: <%= @animal.admission_date %>
</p>
<p>
  Ready for adoption?:
  <span class="<%= @animal.is_adoptable.to_s %>">
  </span>
</p>


<button type="button" name="button"><a href="/animals/<%= @animal.id %>/assign">ASSIGN OWNER</a></button>
<button type="button" name="button"><a href="">DELETE</a></button>
<button type="button" name="button"><a href="">EDIT</a></button>
