<h3><%= @owner.pretty_name %></h3>
<p>
  Age: <%= @owner.age %>
</p>
<p>
  Address: <%= @owner.address %>
</p>
<p>
  Animal: <%= @owner.animal[0].name %>
</p>
<button type="button" name="button"><a href="/owners/<%= @owner.id %>/assign">ASSIGN PET</a></button>
<button type="button" name="button"><a href="">DELETE</a></button>
<button type="button" name="button"><a href="">EDIT</a></button>
