<p></p>
<p></p>
<p></p>
<div class="card owner-card">
  <h3><%= @owner.pretty_name %></h3>
  <hr>
  <p>
    <b>AGE: </b><%= @owner.age %>
  </p>
  <p>
    <b>ADDRESS: </b><%= @owner.address %>
  </p>
  <p>
    <b>ANIMAL:</b>
    <% if @owner.animal.nil? == true %>
    <%= @owner.animal.first.name %>
    <% else %>
    <%= ""%>
    <% end %>
  </p>
  <hr>

  <div>
    <button class="card-buttons" type="button" name="button"><a href="/owners/<%= @owner.id %>/assign">ASSIGN PET</a></button>
    <button class="card-buttons" type="button" name="button"><a href="/owners/<%= @owner.id %>/edit">EDIT</a></button>
    <form action="/owners/<%= @owner.id %>/delete" method="POST"><input type="submit" value="DELETE"></form>
  </div>

</div>
